<script lang='ts'>
    import { supabase } from '../../../db'

    async function getRandomAstolfoURL(rating: string = "explicit") {
        const { data, error } = await supabase
            .from('random_astolfo')
            .select('id, url')
            .limit(1)
            .eq('rating', rating)
            .single()

        if (error) {
            throw new Error(error.message)
        } else {
            console.log(data)
            return data
        }
    }

    let premise = getRandomAstolfoURL()
</script>

<div class="relative grid grid-flow-col justify-center items-center">
    {#await premise}
        <h1 class="relative row-start-1 col-start-3 text-center">Loading</h1>
    {:then astolfo}
        <img src='{astolfo.url}' alt='{String(astolfo.id)}' class="object-contain row-start-2 col-start-3"/>
    {:catch error}
        <h1>SOB {error.message}</h1>
    {/await}
</div> 

