<script lang='ts'>
    import { page } from '$app/stores'
    import { supabase } from '../../../db'

    async function getAstolfoURL(id: number) {
        const { data, error } = await supabase
            .from('astolfo')
            .select('url')
            .eq('id', id)
            .single()

        if (error) {
            throw new Error(error.message)
        } else {
            console.log(data)
            return data
        }
    }

    let premise = getAstolfoURL(Number($page.params.id))
</script>

<div class="relative grid grid-flow-col justify-center items-center">
    {#await premise}
        <h1 class="relative row-start-1 col-start-3 text-center">Loading</h1>
    {:then astolfo}
        <img src='{astolfo.url}' alt='{$page.params.id}' class="object-contain row-start-1 col-start-3"/>
    {:catch error}
        <h1>SOB {error.message}</h1>
    {/await}
</div>

