<script lang='ts'>
    import "../app.css";
</script>

<nav class=" relative w-full flex flex-wrap justify-between items-center py-2 bg-orange-600 text-black shadow-lg navbar navbar-expand-lg navbar-light border-2 border-orange-600 rounded-b">
    <a href="/" class="">Astolfo</a>
    <!-- <a href="/random/nonnsfw"class="text-xl">Totally random astolfo</a> -->
    <a href="/nsfw" class="border-2 border-r-4 border-l-4 bg-red-600 border-red-700 rounded">NSFW mode</a>
</nav>

<slot />