<script lang='ts'> 
    import { supabase } from '../db'
    
    async function getRandomAstolfo(num: number) {
        const { data, error } = await supabase
            .from('random_astolfo')
            .select('id, rating')
            .limit(num)

        if (error) {
            throw new Error(error.message)
        } else {
            return data
        }
    }

    let premise: Promise<any>|null = null
    let numof = 5;

    premise = getRandomAstolfo(numof)
    function but() {
        premise = getRandomAstolfo(numof)
    }
</script>


<div class="relative grid grid-rows-5 grid-cols-5 grid-flow-col justify-center items-center">
    {#await premise}
        <h1 class="row-start-2 col-span-5 border border-black rounded text-center">Loading</h1>
    {:then data}
        {#each data as astolfo}
        <!-- Idk why but it only works this way -->
        {#if astolfo.rating == "safe"} 
            <a href='/id/{astolfo.id}' class="row-start-2 border border-black bg-rating-safe rounded text-center">
                {astolfo.id}
            </a>
        {:else if astolfo.rating == "questionable"}
            <a href='/id/{astolfo.id}' class="row-start-2 border border-black bg-rating-questionable rounded text-center">
                {astolfo.id}
            </a>
        {:else}
            <a href='/id/{astolfo.id}' class="row-start-2 border border-black bg-rating-explicit rounded text-center">
                {astolfo.id}
            </a>
        {/if}
        {/each}
    {:catch error}
        <h1>SOB {error.message}</h1>
    {/await}
    <p class="row-start-3 col-start-2 text-center border-2 bg-rating-safe">Green - Safe</p>
    <p class="row-start-3 col-start-3 text-center border-2 bg-rating-questionable">Yellow - Questionable</p>
    <p class="row-start-3 col-start-4 text-center border-2 bg-rating-explicit">Red - Explicit</p>
    <button on:click={but} class="row-start-4 col-start-3 border-2 border-black justify-start rounded-sm">New</button>
    <a href="/random/nonnsfw"class="row-start-6 col-start-3 border-2 border-black justify-start rounded-sm text-center">Totally random astolfo</a>
</div>